body {
  background-color: #ffffff;
}

body .row {
  margin-top: 35px;
}

.status-part {
  margin-bottom: 60px;
}

.settings label {
  margin-right: 20px;
}

.settings .form-group {
  margin-top: 30px;
}

